@model PagingList<EmployeeDisplayViewModel>

@{
    ViewData["Title"] = "ListDisplay";
}

<h1>ListDisplay</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Salary)
            </th>
            <th>
                Action
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telephone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Employee navigation">
    <vc:pager paging-list="@Model"></vc:pager>
</nav>
